.toggle-button {
  align-items: center;
  background-color: #13244A;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  height: 28px;
  justify-content: center;
  padding: 5px;
  transition: background-color 200ms ease;
  width: 55px;
}

.toggle__bullet {
  background-color: white;
  border-radius: 50px;
  display: block;
  height: 20px;
  transition: transform 300ms ease;
  transform: translate(calc(-100% + 7px), 0);
  width: 20px;
}

#checkbox {
  display: none;
}

[data-active="true"] {
  background-color: var(--blue);
}

[data-active="true"] .toggle__bullet {
  transform: translate(calc(100% - 7px), 0);
}
